extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | This web application is based on CI/CD pipeline.The application is made using Node.js, Express framework and Jade. 
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Heading
          p
            | CI/CD is Continuous Integration/ Continuous Deployment is a backbone for DevOps Enviroment.You can treat is like complete software development lifecycle. 
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Heading
          p
            | The website code resides on the remote github repository and deployed on aws beanstalk through code pipeline.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Heading
          p
            | Change in website code at runtime changes it to the live website. This is the main advantage of setting up this CI/CD pipeline.
          p
            a.btn.btn-default(href='#', role='button') View details »
